In [44]:
import pandas as pd
import numpy as np

def lastValue(x):
    #looks for last non null value and returns NaN if empty
    try:
        return x.dropna().iloc[-1]
    except:
        return x.iloc[-1]

In [45]:
miles = pd.read_csv("/Users/patrickcarey/Documents/miles.csv")

In [32]:
miles[miles["period_id"]==49]

    TABLE NAME  mile_id  period_id  motion_id   mileage  collision_mileage
234      miles      675         49        675  6.723218           1.494619
235      miles      676         49        676  6.749921           1.494619
236      miles      677         49        677  6.971029           1.557567
237      miles      678         49        678  6.977552           1.557567
238      miles      679         49        679  7.307499           1.693821

In [4]:
miles =miles.sort_values(["period_id","mile_id"])

In [13]:
g = miles.groupby("period_id" ).agg({"mileage": lambda x: x.iloc[-1], "collision_mileage": lambda x: x.iloc[-1]})

In [14]:
g

           collision_mileage    mileage
period_id
14                  0.000000   0.000000
39                  0.181271   0.734434
40                  2.834652  11.015816
41                  0.011958   0.485110
42                  0.104140   1.075047
43                  0.044189   1.750838
44                  0.000000   0.027850
45                  0.002278   0.503665
46                  1.121174   2.543061
47                  0.360266   0.599697
48                  1.494619   6.722228
49                  1.693821   7.307499
50                  0.044532   0.299682
51                  0.455200   0.707302
52                  0.529462   0.887898
55                  0.000000   0.000000
56                  2.376088   5.055392
57                  0.019893   1.320111
58                  0.227455   0.539621
59                  0.267085   0.819406
60                  0.701959  14.313290
61                  2.006981   3.211829
65                  0.092160   0.268458
66                  0.000000   0.165941
67                  0.202122   0.311582
68                  3.187708  12.568221
73                  0.000000   0.000868
75                  0.000000   0.000000
76                  0.000000   0.000000
77                  0.000000   0.000000
...                      ...        ...
718                 0.000000   0.000000
719                 0.000000   0.000000
720                 0.000000   0.000000
721                 0.000000   0.580546
722                 0.000000   0.000000
723                 0.000000   0.000000
724                 0.000000   0.000000
725                 0.000000   0.950455
730                 0.214944   0.294236
737                 0.000000   0.000000
738                 0.015863   0.208770
739                30.291168  73.094185
741                 0.000000   0.029171
742                 0.000000   0.000000
746                 0.463532   1.149637
747                 0.000000   0.097376
753                 0.000000   0.000000
758                 0.831952   2.063275
763                 1.295010   4.153604
787                 0.909298   1.873787
788                 3.154241   4.789709
789                 0.028758   0.072859
790                 0.000000   0.000000
791                 0.000000   0.000000
792                 0.000000   0.000000
794                 1.183458   2.902148
795                 0.000000   0.573393
808                 0.000000   0.000000
809                 0.000000   0.000000
815                 0.000000   0.000000

[72 rows x 2 columns]

In [29]:
g2 = miles.groupby("period_id").agg({"mileage": lambda x: x.diff().sum(), "collision_mileage": lambda x: x.diff().sum()})

In [30]:
g2

           collision_mileage    mileage
period_id
14                  0.000000   0.000000
39                  0.181271   0.734434
40                  2.834652  11.015816
41                  0.011958   0.485110
42                  0.104140   1.075047
43                  0.044189   1.750838
44                  0.000000   0.027850
45                  0.002278   0.503665
46                  1.121174   2.543061
47                  0.360266   0.599697
48                  1.494619   6.722228
49                  0.199202   0.584281
50                  0.044532   0.299682
51                  0.455200   0.707302
52                  0.529462   0.887898
55                  0.000000   0.000000
56                  2.376088   5.055392
57                  0.019893   1.320111
58                  0.227455   0.539621
59                  0.267085   0.819406
60                  0.701959  14.313290
61                  2.006981   3.211829
65                  0.092160   0.268458
66                  0.000000   0.165941
67                  0.202122   0.311582
68                  3.187708  12.568221
73                  0.000000   0.000868
75                  0.000000   0.000000
76                  0.000000   0.000000
77                  0.000000   0.000000
...                      ...        ...
718                 0.000000   0.000000
719                 0.000000   0.000000
720                 0.000000   0.000000
721                 0.000000   0.580546
722                 0.000000   0.000000
723                 0.000000   0.000000
724                 0.000000   0.000000
725                 0.000000   0.024880
730                 0.214944   0.294236
737                 0.000000   0.000000
738                 0.015863   0.099110
739                30.291168  72.786162
741                 0.000000   0.029171
742                 0.000000   0.000000
746                 0.463532   1.149637
747                 0.000000   0.097376
753                 0.000000   0.000000
758                 0.831952   2.063275
763                 0.463058   1.161893
787                 0.909298   1.873787
788                 1.585718   2.256697
789                 0.028758   0.072859
790                 0.000000   0.000000
791                 0.000000   0.000000
792                 0.000000   0.000000
794                 1.183458   2.902148
795                 0.000000   0.573393
808                 0.000000   0.000000
809                 0.000000   0.000000
815                 0.000000   0.000000

[72 rows x 2 columns]

In [41]:
# ne = (df1 != df2).any(1)
g[(g != g2).any(1)]

           collision_mileage    mileage
period_id
49                  1.693821   7.307499
82                  0.297483   3.536764
83                  0.347484   9.018580
725                 0.000000   0.950455
738                 0.015863   0.208770
739                30.291168  73.094185
763                 1.295010   4.153604
788                 3.154241   4.789709

In [42]:
g2[(g != g2).any(1)]

           collision_mileage    mileage
period_id
49                  0.199202   0.584281
82                  0.000000   2.951859
83                  0.050001   1.546021
725                 0.000000   0.024880
738                 0.015863   0.099110
739                30.291168  72.786162
763                 0.463058   1.161893
788                 1.585718   2.256697

In [43]:
miles[miles["period_id"]==725]

    TABLE NAME  mile_id  period_id  motion_id   mileage  collision_mileage
523      miles     9522        725       9522  0.925575                0.0
524      miles     9523        725       9523  0.950455                0.0